services:

  hmpps-auth:
    image: ghcr.io/ministryofjustice/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health/ping"]
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0
      - DELIUS_ENABLED=false
      - NOMIS_ENDPOINT_URL=http://nomis-user-roles-api:8080
      - NOMIS_ENABLED=true

  nomis-user-roles-api:
    image: quay.io/hmpps/nomis-user-roles-api:latest
    container_name: nomis-user-roles-api
    networks:
      - hmpps
    ports:
      - "8081:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - API_BASE_URL_OAUTH=http://hmpps-auth:8080/auth

  manage-users-api:
    image: ghcr.io/ministryofjustice/hmpps-manage-users-api:latest
    container_name: manage-users-api
    networks:
      - hmpps
    depends_on:
      - nomis-user-roles-api
      - hmpps-auth
    ports:
      - "8082:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - HMPPS_AUTH_ENDPOINT_URL=http://hmpps-auth:8080/auth
      - HMPPS_AUTH_EXTERNAL_ENDPOINT_URL=http://localhost:8080/auth
      - NOMIS_ENDPOINT_URL=http://nomis-user-roles-api:8080
      - AUTHORIZATION_SERVER_TOKEN_ENDPOINT_URL=http://hmpps-auth:8080/auth/oauth/token

  redis:
    image: 'redis:7.4'
    networks:
      - hmpps
    container_name: redis
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - '6379:6379'

  app:
    build:
      context: .
      args:
        BUILD_NUMBER: "1.0.0"
        GIT_REF: "a1b2c3"
        GIT_BRANCH: main
    networks:
      - hmpps
    depends_on:
      - manage-users-api
      - hmpps-auth
    profiles:
      - include-frontend
    ports:
      - "3000:3000"
    environment:
      - PRODUCT_ID=UNASSIGNED
      - REDIS_HOST=redis
      - REDIS_ENABLED=true
      - HMPPS_AUTH_EXTERNAL_URL=http://localhost:8080/auth
      - HMPPS_AUTH_URL=http://hmpps-auth:8080/auth
      - MANAGE_USERS_API_URL=http://manage-users-api:8080
      - API_CLIENT_ID=hmpps-change-someones-cell-ui
      - API_CLIENT_SECRET=clientsecret
      - SYSTEM_CLIENT_ID=hmpps-change-someones-cell
      - SYSTEM_CLIENT_SECRET=clientsecret
      - SESSION_SECRET=somesecretvalue
      - TOKEN_VERIFICATION_ENABLED=false
      - TOKEN_VERIFICATION_API_URL=http://localhost:8080
      - INGRESS_URL=http://localhost:3000
      - COMPONENT_API_URL=http://not-used-in-local-dev
      - COMMON_COMPONENTS_ENABLED=false
      - DPS_URL=http://localhost:3000
      - ENVIRONMENT_NAME=DEV
      - PRISON_API_URL=http://localhost:8081
      - PRISONER_PROFILE_URL=http://localhost:3002
      - NON_ASSOCIATIONS_API_URL=http://localhost:8082
      - WHEREABOUTS_API_URL=http://localhost:8083
      - LOCATIONS_INSIDE_PRISON_API_URL=http://localhost:8084
      - PRISONER_SEARCH_API_URL=http://localhost:8085

networks:
  hmpps:
